#Localstack token
LOCALSTACK_AUTH_TOKEN=

#Authorization secrets
JWT_SECRET=
JWT_ISSUER=tech-challenge-s1

#Dynamo session table name
DYNAMODB_TABLE_NAME=user-authentication-token
DYNAMODB_ENDPOINT=

#AWS info
AWS_ENDPOINT_URL=http://localstack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_ROLE_ARN=arn:aws:iam::000000000000:role/lambda-role

#Lambda function params
FUNCTION_NAME=user-authorizer
FUNCTION_BINARY_NAME=bootstrap
FUNCTION_ZIP_NAME=function.zip

#Lambda local port
SAM_PORT=8082
